<table class="table">
<tr>
  <th>Juhe ID</th>
  <th>Province</th>
  <th>city</th>
  <th>District</th>
  <th>Temp</th>
</tr>
<% @books.each do |book| %>
  <tr>
    <td><%= book.juhe_id %></td>
    <td><%= book.province %></td>
    <td><%= book.city %></td>
    <td><%= book.district %></td>
    <td>
      <%= book.current_temp %>
      <%= link_to "更新空气质量", update_temp_book_path(book), :method => :post %>
    </td>
  </tr>
<% end %>
</table>
